.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-start{
    display: flex;
    justify-content: flex-start;
}
.flex-space{
    display: flex;
    justify-content: space-between;
}
.flex-end{
    display: flex;
    justify-content: flex-end;
}
a{
    text-decoration: none;
    color:black;
}