.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-start{
    display: flex;
    justify-content: flex-start;
}
.flex-space{
    display: flex;
    justify-content: space-between;
}
.flex-end{
    display: flex;
    justify-content: flex-end;
}
a{
    text-decoration: none;
    color:black;
}
.news-sub-title{
    font-size: 26px;
    // background-color: red;
    line-height: 27px;
    font-weight:900;
    font-family: 'Open Sans', sans-serif;
}
.news-infor-title{
    font-size: 20px;
    line-height: 16px;
    font-weight: 700;
    color: #507EBD;
}
.owl-carousel .item {
    height: 10rem;
    background: #4dc7a0;
    padding: 1rem;
  }