.tournaments{
    width: 100%;
    .top-tourn{
        h3{
            font-size: 26px ;
            line-height: 29px;
            font-family: 'Open Sans', sans-serif;
            font-weight: 700;
            color: #000f2c;
        }
    }
    .btm-tourn{}
}